@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Handle:</dt>
        <dd><p>@Model.Handle</p></dd>

        <dt>API Key:</dt>
        <dd><p>@Model.ApiKey</p></dd>
        
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
    </dl>
</div>
